:root {
  --goldy: #f6c177;
  --lightbluey: #e0def4;
  --bluey: #31748f;
  --lightback: #f4ede8;
}


p, h1, h2, h3, a, footer, li, header, textarea{
  font-family: 'Roboto', sans-serif;
  color:var(--bluey);
}


button{
    color: var(--goldy);
    font-family: 'Roboto', sans-serif;
}


* {
  box-sizing: border-box;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}


.col-1index {
  background-color: var(--lightbluey);
}


.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
  background-color: var(--lightback);
}


.content {
  display: flex;
  flex-direction: row;
}


.content > article {
  flex: 4;
  min-height: 84vh;
}


.headernav{
  height: 9vh;
  text-align:end;
}


header, footer, article, nav {
  padding: 1em;
}


.col-1note {
    background: var(--lightbluey);
    flex: 1;
    flex-direction:column;
  }


a{
    text-decoration: none;
}


footer{
    text-align:end;
    height: 4vh;
    font-size:12px;
}


button, label{
    background: none;
    border:none;
    text-shadow: 0.4px 0.4px black;
    font-size:20px;
}


button, label:hover{
    cursor:pointer;
}


.noteslist li{
    list-style:none;
}


.endnav{
    text-align:end;
}


label, textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}


textarea {
    padding: 10px;
    width:300px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    background-color:var(--lightbluey);
    resize:none;
}


label {
    display: block;
    margin-bottom: 10px;
    font-size:30px;
    color:var(--goldy);
}


.note{
    max-width:325px;
}


.savedelete{
    text-align:end;
}